
body{
   font-family: 'Lucida Grande',  sans-serif;
   background-image: url(/assets/images/weather-bg.png);
   background-repeat: no-repeat;
   background-size:100%;

}
 #citt_search{
    height: 100vh;
 }

#forecast_content{
    display: none;
}
h1{
    font-size: 45px;
    font-weight: 300;
    color:aliceblue;
    text-align: center;
}

#forecast_content,
#current_city,
.card{
    background-color: antiquewhite!important;
}

#forecast_content{
    height: 100vh;
}

#forecast .card{
    border: 1px solid whitesmoke!important;
}


p{
    color: black;
}

#city_container{
    background-color: ;
}
